@media only screen and (max-width: 600px) {
    .main{
        padding: 0 !important;
    }
    #myToast{
        left: 5% !important;
    }
  }

.main{
    padding: 50px;
}

.input-group{
    margin: 10px 0;
}
textarea{
    resize: none !important;
}

.actions{
    text-align: center;
}

#myToast{
    position: fixed;
    bottom: 5%;
    left: 1%;
    z-index: 999;
}